In [1]:
a = 3

In [2]:
print(a)

3

In [3]:
a = 1
b = 2
c = -1231
d = 123
print(a,b,c,d)

1 2 -1231 123

In [4]:
add = 123+ 321
print(add)

444

In [5]:
res = 3 + (2 * 5)
print(res)

13

In [6]:
res = res / 3
print(res)

4.333333333333333

In [7]:
print(a + b + c)

-1228

# 변수 문자열 사용법

In [8]:
a = 'Hello World'
print(a)

b = "안녕 세상"
print(b)

Hello World
안녕 세상

In [9]:
print(a + b)

Hello World안녕 세상

In [11]:
longName = '''원하는
내용을
편하게
입력'''
print(longName)

원하는
내용을
편하게
입력

# if 사용하기

In [14]:
age = 10
if age >= 14 and age <= 16:
    print("중학생")
else:
    print("중학생X")

중학생X

In [15]:
score = 85

if score >= 90:
    print("수")
elif score >= 80:
    print("우")
elif score >= 70:
    print("미")
elif score >= 60:
    print("양")
else:
    print("가")

우

In [16]:
age = 25
score = 75

if age >= 20:
    if score >= 80:
        print("합격")
    else:
        print("불합격")
else:
    if score >= 70:
        print("합격")
    else:
        print("불합격")

불합격

In [18]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

person_info = [myname, birth, addr, "남", 1100]

print(person_info[0])

박청용

In [21]:
myname = "박청용"
birth = 650101
addr = "서울 마포 공덕"

user_info = {"name": myname, "birth": birth}
print(user_info["name"])

박청용

In [24]:
person_info2 = ["박지성", 810122, "맨체스터", "남", 13000]

user_list = [person_info, person_info2, user_info]
print(user_list[2]["name"])

박청용