In [1]:
import pandas as pd

df = pd.read_csv("data/korean_players.csv")
df

    이름  적합사이즈  나이  출장수    키  몸무게
0  조현우    275  27   12  189   75
1  김영권    285  29   69  186   81
2  김민재    290  22   19  190   88
3  이청용    265  30   89  180   70
4  손흥민    260  26   79  183   77
5  이재성    275  26   43  180   70
6  백승호    280  22    0  180   68
7  이강인    270  18    0  173   63
8  이승우    260  21   10  170   63
9  황의조    275  26   25  184   73

In [2]:
df.describe()

            적합사이즈         나이        출장수           키        몸무게
count   10.000000  10.000000  10.000000   10.000000  10.000000
mean   273.500000  24.700000  34.600000  181.500000  72.800000
std     10.013879   3.802046  33.383962    6.398785   7.828722
min    260.000000  18.000000   0.000000  170.000000  63.000000
25%    266.250000  22.000000  10.500000  180.000000  68.500000
50%    275.000000  26.000000  22.000000  181.500000  71.500000
75%    278.750000  26.750000  62.500000  185.500000  76.500000
max    290.000000  30.000000  89.000000  190.000000  88.000000

In [3]:
x_train = df[["나이", "출장수", "키", "몸무게"]]
y_train = df["적합사이즈"]

In [4]:
from sklearn.linear_model import LinearRegression

lr = LinearRegression().fit(x_train, y_train)

print("train set accuracy", lr.score(x_train, y_train))

train set accuracy 0.6550739388896683

In [5]:
df_test = pd.read_csv("data/test_players.csv")
df_test

    이름  나이  출장수    키  몸무게
0  황인범  22   14  177   67
1  김신욱  31   51  196   93

In [6]:
x_test = df_test[["나이", "출장수", "키", "몸무게"]]

prediction = lr.predict(x_test)
prediction

array([270.2212304 , 295.31336894])

In [7]:
lr.predict([[25, 100, 180, 80]])

array([266.6995094])

In [8]:
target_index = 0
name = df_test.loc[target_index, "이름"]
predict = prediction[target_index]

print(name + "은 " +str(predict)+"사이즈")

황인범은 270.22123040228456사이즈

In [11]:
comparison = pd.DataFrame(y_train)
y_test = lr.predict(x_train)

comparison["나의 예측"] = y_test 
comparison

   적합사이즈       나의 예측
0    275  281.829639
1    285  277.882881
2    290  289.474580
3    265  263.176528
4    260  268.559816
5    275  270.052410
6    280  273.917114
7    270  265.904555
8    260  267.476237
9    275  276.726240